@import '_mixin';

.footer{
    padding: 133px 0 80px;
    background: url('../img/bg__footer.png') center;
    height: 397px;
    &__icon{
        display: flex;
        align-items: center;
        a{
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}